* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  margin: 30px 50px;
  height: 100vh;
}
ul {
  list-style: none;
}

p {
  margin: 10px 0;
}

.heading {
  font-size: 1.5rem;
  color: #888;
  text-align: center;
}

.heading.heading-sm {
  font-size: 1.1rem;
  text-align: center;
  background: #ddd;
  color: #333;
  padding: 20px 0;
  border-radius: 10px;
}

.person-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #eee;
  transition: transform 0.3s ease-in-out;
}

.person-img:hover {
  transform: scale(1.05);
}

.container {
  display: inline-flex;
  flex-direction: column;
  margin: 20px 15px;
}

.card {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  width: 550px;
  max-width: 600px;
  min-height: 300px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 5px 15px #777;
  transform: translateY(-5px) scale(1.03);
  cursor: pointer;
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(90deg, #214eb6 0%, #7799cf 100%);
  padding: 15px 30px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  top: 170px;
  padding: 0 30px;
}

.info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%; 
}
